PORT=5000
DB_URL=mongodb+srv://<userName>:<Password>@cluster0.blz8y.mongodb.net/ph-tour-Management?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development


JWT_ACCESS_SECRET=JWT_ACCESS_SECRET
JWT_EXPIRES_TIME=3d
JWT_REFRESH_SECRET=refresh_secret
JWT_REFRESH_EXPIRED=30d

BCRYPT_SAULT_ROUND=


# super admin credential
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=SUPER@password1234


#Google auth creadention

GOOGLE_CLIENT_ID=345sdfs802198659-rrcumeqlstjfrhf7b1rqap8og3p03v8u.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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wnDk
GOOGLE_CALLBACK_URL=https://locasfdlhost:5000/aasdfpi/asdfv1/asdfuth/goasdfogle/csadfallbacks

# Express-session
EXPRESS_SESSION_SECRET=exprasdfdess-session-secret

#Frontend Url
FRONTEND_URL=http://localhost:5173